{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
{% block content %}
<h2>Petições Coloniais no Império Português</h2>
<p class="font-weight-normal">Bem vindo a versão experimental da aplicação</p>

<a href="{% url 'home' %}" class="btn btn-high btn-success"> Home</a>
<a href="{% url 'admin:index' %}" class="btn btn-high btn-success"> Admin</a>
<a href="{% url 'migracao' %}" class="btn btn-high btn-success"> Migração</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
{% endblock %}